In [2]:
import pandas as pd
import os

In [3]:
result_path = 'results'

In [5]:
results = {}
for file in os.listdir(result_path):
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(result_path, file))
        scenario = file.split('.')[0]
        results[scenario] = df

## Cost analysis

In [7]:
feed_in_tariff = 5 # p/kWh

In [8]:
df_grouped ={}
for scenario, df in results.items():
    df['cost'] = df['tariff']*df['grid_import']*1e-5 + feed_in_tariff*df['grid_export']*1e-5
    dfg = df.groupby('site').agg({'cost': 'sum'})
    df_grouped[scenario] = dfg

In [9]:
base = df_grouped['no_ev_scenario']
costs = {}
for scenario, df in df_grouped.items():
    costs[scenario] = df['cost'] - base['cost']

df_costs = pd.DataFrame(costs)

,40_km_scenario,ovo_tariff_scenario,utility_wh_tariff_scenario,base_scenario,no_ev_scenario,60_km_scenario,70_km_scenario,30_km_scenario,octopus_tariff_scenario,british_tariff_scenario
site,,,,,,,,,,
1,43.199176,38.850638,15.078208,58.274762,0.0,73.193421,85.224786,28.453058,27.110282,31.821279
2,46.905821,31.321010,-6.813945,62.815210,0.0,75.442245,89.577514,33.530959,13.894272,20.054478
3,45.417903,30.956113,-7.864157,62.531020,0.0,76.665132,91.522538,33.480223,13.849280,19.845301
4,44.460697,37.601802,12.098467,56.995385,0.0,71.084217,86.982411,29.529771,26.787946,29.898630
5,44.994476,39.753884,15.226383,59.308273,0.0,73.045740,87.563644,30.826147,27.987406,32.253300
...,...,...,...,...,...,...,...,...,...,...
94,47.857040,4.888331,-65.528517,61.237325,0.0,77.072764,92.085275,32.483495,-26.507094,-14.762261
95,45.399255,23.930291,-18.793161,62.384247,0.0,75.921791,89.363823,33.039143,4.950840,12.143988
97,47.470362,5.106577,-65.843597,59.681582,0.0,77.458861,89.459120,30.090780,-26.378525,-14.778832
98,47.216292,13.450640,-43.056756,60.100040,0.0,NaN,89.813286,32.281211,-11.945976,-2.231297
100,45.463519,29.487041,-12.566959,61.853028,0.0,76.505182,91.076520,31.953503,10.274765,17.274394